{% extends "base.html" %}
{% load static %}
<html lang="en">
    {% block body_block %}
    <head>
        <meta charset="UTF-8">

        <title>Caesar cipher algorithm</title>
    </head>
    <h1>Caesar Cipher algorithm</h1>
    <body style="padding: 20px;">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_key_field">Enter a key</label>
                <input type="number" class="form-control" id="id_key_field" name="key_field" aria-describedby="keyHelp" placeholder="Enter a key" value="{{ form.key_field.value }}">
                <small id="keyHelper" class="form-text text-muted">Enter a key to cipher following text</small>
            </div>
            <div class="form-group">
                <label for="text_field">Enter a text to cipher</label>
                <input type="text" class="form-control" id="text_field" name="text_field" placeholder="Enter a text to cipher" value="{{ form.text_field.value }}" >
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div>
            Ciphered text : {{new_text}}<br>
            Key used: {{key}}
        </div>
    </body>
    {% endblock %}
</html>
