{% extends "base.html" %}
{% load static %}
<html lang="en">
    {% block body_block %}
    <head>
        <meta charset="UTF-8">

        <title>RSA decipher algorithm</title>
    </head>
    <h1>RSA Decipher algorithm</h1>
    <body style="padding: 20px;">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="text_field">Enter a text to cipher</label>
                <input type="text" class="form-control" id="text_field" name="text_field" placeholder="Enter a text to decipher" value="{{ form.text_field.value }}" >
            </div>
          <div class="form-group">
                <label for="private_key_field">Enter a text to cipher</label>
                <input type="text" class="form-control" id="private_key_field" name="private_key_field" placeholder="Enter the private key" value="{{ form.private_key_field.value }}" >
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div>
            Ciphered text : {{deciphered_message}} <br>
        </div>
    </body>
    {% endblock %}
</html>